$title-size:2em;
$background-colors:white;
$standard-margin:20px;
$mobile-width:768px;
$desktop-width:1340px;
$font-weights:bolder;


body
{
    background-color: $background-colors;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box-shadow
{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

header,
.containerSearch,
.card
{
    @extend .box-shadow
}


#question
{
    font-weight: $font-weights;
    font-size: $title-size;
    margin-left: $standard-margin;
}

#mode
{
    font-size: $title-size;
    background-image: url("./media/moon.png");
    background-size: 1em;
    background-repeat: no-repeat;
    width: 300px;
    border: none;
    background-color: $background-colors;
    border-radius: 15px;
    margin-right: $standard-margin;
}


.containerSearch
{
    margin-top: $standard-margin;
    height: 140px;
    width: $mobile-width;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#magnifyingGlass
{
    height: 2em;
    margin-left: $standard-margin;
}

input
{
    height: 3em;
    width: 550px;
    background-color: $background-colors;
    border: none;
    border-radius: 10px;
}

.containerMenu
{
    width: calc($mobile-width/1.8);
    height: 3em;
    margin-top: $standard-margin;
    margin-left: $standard-margin;
    border-radius: 10px;
}

#optionsLable
{
    font-size: $title-size;
}

option, select
{
    font-weight: $font-weights;
}

select
{
    height: $title-size;
    border: none;
    margin-left: $standard-margin;
    background-color: $background-colors;
}

.containerCard
{
    display: flex;
    flex-direction: column;
    width: $mobile-width;
    align-items: center;
}

.card
{
    width: 500px;
    display: flex;
    margin-left: 35px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#flag
{
    margin-top: $standard-margin;
    margin-left: calc($mobile-width/5.538);
    height: 150px;
    width: calc($mobile-width/3);
}

#text
{
    margin-top: $standard-margin;
    font-weight: $font-weights;
}


header
{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $mobile-width;
}

@media (min-width: 768px)
{
    header
    {
        width: $desktop-width;
    }

}

